<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gazo</title>
        <link rel="stylesheets" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>Gazo</h1>

        <img id="theImage" src=""/>

        <!--Image with random color-->
        <form id="generateImageWithRandomColors">
            <button value="submit" >Random</button>
        </form></br>

        <!--Image with random color but with choosen size-->
        <form id="generateImageWithRandomColorsFixedSize">
            <button value="submit">Random with fixed size</button>
            <input id="generateImageWithRandomColorsFixedSizeRange" type="range" min="5" max="100" value="5"/>
        </form></br>

        <!--Image with fixed numbers of colors-->
        <form id="generateImageWithCertainNumberOfColors">
            <button value="submit">Fixed number of colors</button>
            <input id="generateImageWithCertainNumberOfColorsRange" type="range" min="1" max="20" value="20"/>
        </form></br>

        <!--Image with fixed number of colors and fixed size-->
        <form id="generateImageWithCertainNumberOfColorsFixedSize">
            <button value="submit">Fixed number of colors and size</button>
            <h5>Number of colors</h5>
            <input id="generateImageWithCertainNumberOfColorsFixedSizeColorRange" type="range" min="1" max="20" value="20"/>
            <h5>Size</h5>
            <input id="generateImageWithCertainNumberOfColorsFixedSizeSizeRange" type="range" min="5" max="100" value="5"/>
        </form></br>
        
        <!--Image with certain colors-->
        <form id="generateImageWithCertainColors">
            <button value="submit">Certain colors</button>
            <h5>RGB</h5>
            <input id="generateImageWithCertainColorsColorLine" type="text" />
        </form></br>

        <!--Image with certain colors and fixed size-->
        <form id="generateImageWithCertainColorsFixedSize">
            <button value="submit">Certain colors and fixed size</button>
            <h5>Colors</h5>
            <input id="generateImageWithCertainColorsFixedSizeColorLine" type="text" />
            <h5>Size</h5>
            <input id="generateImageWithCertainColorsFixedSizeSizeRange" type="range" min="5" max="100" value="5"/>
        </form>


        <script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

        <script type="text/javascript" th:src="@{js/main.js}"></script>
    </body>
</html>