<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gazo</title>
        <link rel="stylesheets" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>Gazo</h1>
        <a href="/generateImageWithRandomColors">generateImageWithRandomColors</a><br/>
        <a href="/generateImageWithRandomColors/20">generateImageWithRandomColors</a>
        <h1>---------------------------------------------</h1>
        <a href="/generateImageWithNumberOfColors5">generateImageWithNumberOfColors</a><br/>
        <a href="/generateImageWithNumberOfColors5/20">generateImageWithNumberOfColors</a>
        <h1>---------------------------------------------</h1>
        <a href="/generateImageWithCertainColors/255_255_255,60_60_60">generateImageWithCertainColors</a><br/>
    </body>
</html>